
<form action="/comprar" method="post">
    <input type="text" name="name" id="name"><br>
    <input type="number" name="price" id="price"><br>
    <input type="number" name="amount" id="amount"><br>
    <input type="email" name="email" id="email"><br>
    <input type="number" name="id" id="id"><br>
    <button>Comprar</button>
</form>

<hr>

<form action="/sub" method="post">
    <input type="email" placeholder="email do cliente" value="" name="email" id="email"><br>
    <button>Assinar</button>
</form>